

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Case sensitive user login</h2>

        <p>

<h3>After installing this module,login with username,with some mix combintation of capital and small  laters.</h3>
        </p>
        <div>
            <img class="oe_picture" src="demon_1.png" height="300">
        </div>
<div>
<p><h3>User can login in odoo with case sensitive user name.</h3></p></div>
        <div>
            <img class="oe_picture" src="demo_2.png" height="250">
        </div>
        <div>
            <img class="oe_picture" src="demo_3.png" height="300">
        </div>
    </div>
</section>



